<!--shopping-cart.component.ts-->
<h1>Shopping Cart</h1>

<div class="row col-10 card" *ngIf="cart$ | async as cart">

  <div class="card-body p-4 border-bottom">
    <p>
      You have {{ cart.totalItemsCount }} items in your shopping cart.
      <button
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="float-end btn btn-light btn-sm">Clear Shopping Cart
      </button>
    </p>
  </div>


    <table class="table card-body mb-0">
        <thead>
        <tr>
            <th></th>
            <th class="py-2" >Product</th>
            <th class="text-center py-2 " style="width: 230px">Quantity</th>
            <th class="text-end py-2" style="width: 200px">Price</th>
        </tr>
        </thead>

        <tbody >
        <tr *ngFor="let item of cart.items">
          <td>
            <div class="thumbnail mx-3" [style.background-image]="'url(' + item.product.imageUrl + ')'"> </div>
          </td>
          <td class="pt-4">{{ item.product.title }}</td>
          <td class="pt-4">
            <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity>
          </td>
          <td class="text-end pt-4">{{ item.totalPrice | currency }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th></th>
            <th></th>
            <th></th>
            <th class="text-end">{{ cart.totalPrice | currency }}</th>
        </tr>
    </table>

  <a
    *ngIf="cart.items.length"
    routerLink="/check-out"
    class="btn btn-primary m-3"
    style="width: 120px"
  >Check Out
  </a>

</div>

