
<!-- product-form.component.html -->

<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group mb-4">
        <label for="title">Title</label>
        <input formControlName="title" id="title" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="titleControl?.touched && titleControl?.invalid">
          Title is required
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input formControlName="price" id="price" type="number" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="priceControl?.touched && priceControl?.invalid">
          <div *ngIf="priceControl?.errors && priceControl?.errors?.['required']">Price is required</div>
          <div *ngIf="priceControl?.errors && priceControl?.invalid">Price should be 0 or higher</div>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="category">Category</label>
        <select formControlName="category" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.key">
            {{ c.payload.val().name }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="categoryControl?.touched && categoryControl?.invalid">
          Category is required
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="imageUrl">Image URL</label>
        <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="imageUrlControl?.touched && imageUrlControl?.invalid">
          Image URL is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <img [src]="form.get('imageUrl')?.value" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ form.get('title')?.value }}</h5>
        <p class="card-text">{{ form.get('price')?.value | currency:'USD':'symbol' }}</p>
      </div>
    </div>
  </div>
</div>




<!--
<div class="row">

  <div class="col-md-6">
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="save()">
      <div class="form-group mb-4">
        <label for="title">Title</label>
        <input formControlName="title" id="title" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="titleControl?.touched && titleControl?.invalid">
          Title is required
        </div>
      </div>
      <div class="form-group mb-4">

        <label for="price">Price</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input formControlName="price" id="price" type="number" class="form-control">
        </div>

        <div class="alert alert-danger" *ngIf="priceControl?.touched && priceControl?.invalid">
          <div *ngIf="priceControl?.errors && priceControl?.errors?.['required']">Price is required</div>
          <div *ngIf="priceControl?.errors && priceControl?.invalid">Price should be 0 or higher</div>
        </div>

      </div>
      <div class="form-group mb-4">
        <label for="category">Category</label>
        <select formControlName="category" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.key">
            {{ c.payload.val().name }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="categoryControl?.touched && categoryControl?.invalid">
          Category is required
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="imageUrl">Image URL</label>
        <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="imageUrlControl?.touched && imageUrlControl?.invalid">
          Image URL is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <img [src]="form.get('imageUrl')?.value " class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ form.get('title')?.value}}</h5>
        <p class="card-text">{{ form.get('price')?.value | currency:'USD' : true }}</p>
      </div>
    </div>
  </div>


</div>


-->
